/* Universal styles */

body {
    background-color: #ffffff;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    font-size: 8vw;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #252422;
    font-size: 7vw;
}

p {
    font-family: 'Quattrocento', serif;
}

a {
        font-family: 'Quattrocento', serif;
}

em {
    font-weight: 700;
}

.white-txt {
    color: #FFFFFF;
}

.reverse {
    color: #FFFFFF;
    background-color: #0C0C0C;
    display: inline-block;
    padding: 2vw;
}

.big {
    font-size: 10vw;
}



/* Grid and flex container */

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.flex {
    display: flex;
}


/* Header and Banner */

header {
    display: flex;
    align-items: center;
}

.header-el {
    background-color: #252422;
    padding: 1vw;
}

header p {
    font-size: 3vw;
    margin-left: 3vw;
}

.banner {
    background-image: url('./Images/nich-wall-lines-wide.jpg');
    height: 60vw;
    margin-top: 5vw;
    background-size: cover;
}

.banner img {
    width: 100%;
    z-index: 0;
    margin: 0 2rem;
}

.sub-head {
    margin-left: 12vw;
}

.inset {
    background-color: #0C0C0C;
    display: inline-block;
    padding: 0 5vw;
}

.inset h2 {
     color: #ffffff;
}

.box-1 {
    background-color: #EB5E28;
    transform: rotate(-5deg);
    height: 7vw;
    width: 40vw;
    opacity: .75;
    position: relative;
    top: 21vw;
    left: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 p {
    font-size: 3vw;
    color: #ffffff;
}

.box-2 {
    background-color: #CCC5B9;
    grid-column: 1 / span 12;
    height: 5vw;
    margin-top: 5vw;
    margin-right: 10vw;
}

/* Hamburger menu */


/* Nav menu */

#openbtn {
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 3vw;
    right: 4vw;
    cursor: pointer;
    background: none;
    border: 4px solid #0C0C0C;
    outline: 4px solid #0C0C0C;
    outline-offset: -3px;
    transform: outline-offset .30ms;
}

#closebtn {
    color: #FFFFFF;
}

svg {
    fill: #0C0C0C;
}

#openbtn:hover,
#openbtn:focus {
  outline-offset: 2px;
}

#menu {

    width: 0; 
    position: fixed; 
    z-index: 6; 
    top: 0;
    right: 0;
    background-color: #403D39;
    opacity: 0.9;
    padding-top: 3rem; 
    transition: width .5s; 
    
  }

  #menu a {
    padding: 10px 8px 32px 32px;
    text-decoration: none;
    font-size: 4vw;
    font-family: 'Quattrocento', serif;
    color: #FFFFFF;
    display: block;
    transition: color 0.3s;
  }

  #menu a:hover,
  #menu a:focus {
    text-decoration: underline;
    
  }

  #menu a:active{
    font-size: 2.2rem;
  }


/* Journey to coding section */

.journey-txt {
    margin: 8vw 2vw 0 2vw;
}

.journey-txt p {
    padding: 2vw;
    line-height: 1.25rem;
}

.journey-txt h2 {
    margin-left: 2vw;
}

.journey-photo {
    margin: 2vw 8vw;
    position: relative;
    justify-content: space-between;
    z-index: 5;
}

.journey-photo img {
    width: 20vw;
}

/* Page Break */

.divider {
    position: relative;
    z-index: 1;
}

.box-a {
    background-color: #EB5E28;
    height: 5vw;
    position: relative;
    opacity: .75;
    z-index: 3;
    grid-column: 1 / span 10;
}

.box-b {
    background-color: #CCC5B9;
    height: 10vw;
    position: relative;
    z-index: 1;
    top: -3vw;
    grid-column: 3 /span 6;
}

.box-c {
    background-color: #252422;
    height: 15vw;
    z-index: 2;
    position: relative;
    top: -20vw;
    grid-column: 8 / span 5;
}

/* Background Section */

#coding {
    margin: -10vw auto;
    background-color: #EB5E28;
}

.coding-txt {
    grid-column: 2 / span 5;
}

#coding p{
    padding: 2vw;
    line-height: 1.5rem;
    margin: 2vw 0;
    background-color: #0C0C0C;
    border-radius: 5px;
}

#coding h2 {
    margin-left: 2vw;
}

.coding-photo {
    grid-column: 7 / span 6;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.coding-photo img {
    width: 20vw;
    margin: 2vw;
}

/* Examples Section */

#examples {
    margin-top: 20vw;
}

.examples-header h2 {
    text-align: center;
    display: block;

}

/* Slideshow Cards */

.slideshow-container {
    margin: 5vw auto;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.slide-card, .description {
    display: none;
}

.slide-card img {
    width: 54vw;
    display: inline-block;
} 

.description {
    width: 50vw;
    background-color: #CCC5B9;
    padding: 2vw;
}

.description h2 {
    font-size: 5vw;
}

.description p{
    margin-top: 2vw;
    line-height: 1.5em;
}

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 5vw;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;    
}

.next {
    right: 15vw;
}

.prev {

    left: 15vw;
}

.prev:hover, .next:hover {
    background-color: #CCC5B9;
  }

  .dot {
    height: 2vw;
    width: 2vw;
    margin: 2vw 2vw;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    background-color: #0C0C0C;
    transition: background-color 0.5s, ease;
  }

  .active, .dot:hover {
    background-color: #EB5E28;
  }


  .link-btn {
    border: none;
    height: 5vw;
    width: 15vw;
    font-size: 2vw;
    position: relative;
    margin-top: 2vw;
    left: 35vw;
    padding: .5rem;
    text-align: center;
    font-family: 'Quattrocento', serif;
    background-color: #EB5E28;
    cursor: pointer;
  }
  
.link-btn:hover {
    background-color: #F1906A;
}

.link-btn:active {
    top: .25rem;
} 

/* Footer */


.footer {
    background-color: #0C0C0C;
    height: 10vw;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    padding: 4vw;
}

.footer img {
    width: 6vw;
}

.links {
    align-items: center;
}

